:root {
    --green: #e0ffcd; 
    --yellow: #fdffcd;
    --orange: #ffebbb;
    --red: #ffcab0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

img {
    display:inline-block;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

#panel {
    grid-column: 1;
    background-color: var(--red);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#dashboard {
    grid-column: 2;
    background-color: var(--yellow);
    padding: 20px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


#project-title-section {
    display: flex;
    justify-content: space-between;
}

#new-project, .selectable-project, #new-task {
    cursor: pointer;
}

#new-project, #new-task {
    color: blue;
}

.panel-header, #new-task {
    font-weight: bold;
}

.selectable-project {
    padding: 20px 5px;
    border-bottom: 2px solid;
    display: flex;
    gap: 15px;
    align-items: center;
}

.selectable-project:hover, .item:hover {
    background: var(--orange)
}


#project-list {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    width: 80px;
    padding: 5px 5px;
    background-color: var(--orange);
    border-radius: 8px;
    border: solid 2px;
}

.button-panel {
    display: flex;
    gap: 10px;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid;
    padding: 10px 5px;
}

#dashboard-header {
    background-color: var(--red);
}

#dashboard > div {
    padding: 10px 20px;
}

.title {
    display: flex;
    gap: 10px;
}